<mat-form-field class="example-full-width">
  <mat-label i18n>Добавление</mat-label>
  <input matInput i18n-placeholder placeholder="Введите название ..." [(ngModel)]="textAdd">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label i18n>Описание</mat-label>
  <textarea matInput i18n-placeholder placeholder="Введите описание ..." [(ngModel)]="descriptionAdd"></textarea>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label i18n>Статус</mat-label>
  <select matNativeControl [(ngModel)]="statusAdd">
    <option value="Completed" i18n="@@Completed">Завершенный</option>
    <option value="InProgress" i18n="@@InProgress">В работе</option>
  </select>
</mat-form-field>

<app-button (click)="itemAdd()" i18n-title title="Добавить"></app-button>
