<table style="width: 100%">
  <tr>
    <td style="text-align: center" i18n="@@Completed">Завершенный</td>
    <td style="text-align: center" i18n="@@InProgress">В работе</td>
  </tr>
  <tr>
    <td style="text-align: center">
      <ul>
        <li
          *ngFor="let toDoList of toDoListsCompleted"
        >
          {{ toDoList.text }} ({{ toDoList.description }})
        </li>
      </ul>
    </td>
    <td style="text-align: center">
      <ul>
        <li
          *ngFor="let toDoList of toDoListsInProgress"
        >
          {{ toDoList.text }} ({{ toDoList.description }})
        </li>
      </ul>
    </td>
  </tr>
</table>
