<app-toasts></app-toasts>

<table border=1 style="width: 100%;">
  <tr>
    <td style="width: 20%; vertical-align: top">
      <ul>
        <li>
          <a
            routerLink="/backlog"
            routerLinkActive="active-link"
          >Backlog</a>
        </li>
        <li>
          <a
            routerLink="/board"
            routerLinkActive="active-link"
          >Board</a
          >
        </li>
      </ul>
    </td>
    <td style="width: 80%">
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>
